* {
    box-sizing: border-box;
}

:root {
    --pink: #ffa0a3;
    --gray: #7f8fa3;
    --turquoise: #77ddf9;
    --font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {
    background-color: #eafbff;
    font-family: var(--font-family);
    margin: 0;
}

.header {
    padding: 20px;   
    background-color: #7f8fa3;
    color: var(--pink);
}

.header h1 {
    /* Set navigation to be in line */
    display: inline-block;
    font-size: 38px;
    margin-left: 5px;
}

.header img {
    max-width: 100px;
    max-height: 100px;
}

.header section {
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header section ul {
    /* Set the list style so no numbers or points show */
    list-style-type: none;
}

.header section ul li {
    /* Set the display of the link in the margin */
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--pink);
    text-decoration: none;
}

.welcome-image {
    /* Sets location, size and link to main image */
    height: 550px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/subtitle-image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.welcome-image h2 {
    position: absolute;
    bottom: 25px;
    left: 10px;
    font-family: var(--font-family);
    font-size: 25px;
    color: var(--pink);
}

main {
    display: flex;
    flex-wrap: wrap;
  }
  
p {
    font-size: 16px;
    color: var(--gray);
}

.content h3 {
    display: flex;
    /* Defines how to distribute the empty space between child elements */
    justify-content: space-between;
    font-size: 20px;
    color: var(--turquoise);
    margin-bottom: 10px;
}
 
.about-me,
.work {
    height: 400px;
    width: 100%;
    margin: 5px auto;
}

.contact-me {
    height: 50px;
    width: 100%;
    margin: 5px auto;
}

.contact-me section {
  color: var(--gray);  
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: var(--font-family);
    font-size: 16px;
}

.contact-me h3 {
    display: inline-block;
}

.contact-me section ul {
    /* Set the list style so no numbers or points show */
    list-style-type: none;
}

.contact-me section ul li {
    /* Set the display of the link in the margin */
    display: inline-block;
    padding-right: 25px;
    position: relative;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--gray);
    color: var(--pink);
  }